<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
    <h2>Users Page</h2>
     <% users.forEach((user) => { %>
        <h1><a href="/users/<%= user.id %> "><%= user.name %></a></h1>
        <h2>Email-<%= user.email %></h2>
        <h2>Adrress-<%= user.address %></h2>
        <h2>Bio-<%= user.bio %></h2>
        <h2><%= user.hobbies %></h2>
   <% }) %> 
</body>
</html>